<%- include('partials/header') %>

<!-- Main -->
<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>2019, az az utolsó magyar eurovíziós szereplés.</h2>
            <p>Az Izraelben megrendezett eurovíziós dalfesztiválon Pápai Joci képviselte Magyarországot.</p>
        </header>

        <!-- Content -->
            <section id="content">
                <a class="image fit"><img src="images/19win.jpg" alt="Duncan Laurence" /><center>A 2019-es Eurovíziós dalfesztivál győztese, Duncan Laurence</center></a>
                <p>Netta lisszaboni nagyszerű győzelme után Lisszabonban, az izraeli Tel-Avivban rendezték meg a 2019-es Eurovíziós Dalfesztivált.</p>
                <p>A 64. Eurovíziós Dalfesztiválnak az Expo Tel Aviv (Nemzetközi Kongresszusi Központ) adott otthont. Az első elődöntőre május 14-én, kedden, a második elődöntőre május 16-án, csütörtökön került sor, a nagydöntőre pedig május 18-án, szombaton.</p>
                <p>A magyar induló Pápai Joci volt, aki a "Az én apám" című dalával képviselte hazánkat. A dalt Pápai Joci és Molnár Ferenc "Caramel" közösen írták. A dal a magyar zenei hagyományokat és a roma kultúrát ötvözi.</p>
                <p>Pápai Joci a második elődöntőben szerepelt, ahol a 12. helyen végzett, 97 ponttal, így nem jutott be a döntőbe.</p>
                <p>A 2019-es Eurovíziós Dalfesztivált Duncan Laurence nyerte, aki a "Arcade" című dalával képviselte Hollandiát. A dalt Laurence, Joel Sjöö és Wouter Hardy írta. A dal a szerelmi bánatot és a szív megtörését dolgozza fel.</p>
                <p>A döntőben 26 ország versenyzett, ahol a holland induló 498 pontot szerzett, ezzel megnyerte a 2019-es Eurovíziós Dalfesztivált.</p>

            </section>

    </div>
</div>

<!-- Footer -->
<%- include('partials/footer') %>