<%- include('partials/header') %>

<!-- Main -->
<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>Svájc győzött a 2024-es Eurovíziós Dalfesztiválon</h2>
            <p>2024-es Eurovíziós Dalfesztivál döntőjének színpadán 25 előadó léphetett fel</p>
        </header>

        <!-- Content -->
            <section id="content">

                <h3>Az első 5 helyezett</h3>
                <ul>
                    <li>Svájc</li>
                    <li>Horvátország</li>
                    <li>Ukrajna</li>
                    <li>Franciaország</li>
                    <li>Izrael</li>
                </ul>

                <a href="#" class="image fit"><img src="images/winner24.jpg" alt="" /><center>A 2024-es Eurovíziós dalfesztivál győztese, Nemo</center></a>
                <p>A győztes Nemo környékig hatódva igyekezett a színpadra, hogy újra előadja The Code című győztes dalát (külön imádtuk, hogy közben végig rajta volt az ír induló töviskoronája, amit győzelme után kapott meg az énekesnőtől). A fiatal sztár azonban annyira nagy hévvel tette le az üvegdíjat a színpadra, hogy az két darabra tört. A váratlan fordulat látszólag őt is meglepte, de bízunk benne, hogy ez a "törés" nem lesz meghatározó élmény számára, illetve drukkolunk, hogy A, kap egy ép darabot és B, arra jobban vigyáz majd.</p>
                <p>A nagy esélyesként emlegetett Horvátország, aki a zsűrit is lenyűgözte, 337 pontot kapott a nézőktől, amivel lendületesen fellépett a dobogó legfelső fokára, majd Franciaország volt azt, aki 227 extra pontszámával, és 445 teljes pontszámával hátrébb sorolta az addig nagy esélyes Svájcot, de csak egy rövid pillanatra. Svájc ugyanis végül 591 pontszámával legyűrte a második helyezett Horvátországot.</p>
                <p>A tabella ezúttal is az egyes országok és a nézői szavazatok alapján alakult: a 37 ország abszolút favoritja Svájc volt, aki összesen 356 pontot gyűjtött (minden ország 12 pontot adhatott a számára legszimpatikusabb produkciónak), a második helyezett Franciaország lett 218 ponttal, míg a harmadik Horvátország, aki 210 pontot vívott ki a zsűritől.</p>
                <p>A nézői szavazatok viszont alaposan felkavarták a mezőnyt, és olyanokat is az élre juttattak, akik korábban a középmezőnyben rekedtek. Izrael 323 extra pontjával például rövid időre az élre tört, amit Ukrajna hamar ki is csavart a kezéből 453-as összesített pontszámával.</p>
                <p>Az idei Eurovíziós Dalfesztiválnak a Svédországban található Malmö városa adott otthont (érdekesség, hogy az országban hetedik, Malmö városágban pedig a harmadik alkalommal rendezték meg a fesztivált, ami 1956 óta tartja lázban Európát.) A megmérettetésen induló országok közül 25 állhatott ott a döntőben, melynek mezőnye a május 7-ei és a május 9-ei elődöntők során állt össze.</p>
               
            </section>

    </div>
</div>

<!-- Footer -->
<%- include('partials/footer') %>