<%- include('partials/header') %>

<!-- Main -->
<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>Svéd születésű Loreen nyerte a 2023-as Eurovíziós Dalfesztivált</h2>
            <p>A négyórás finálét követően véget ért a 2023-as Eurovíziós Dalfesztivál.</p>
        </header>

        <!-- Content -->
            <section id="content">
                <a href="#" class="image fit"><img src="images/loreen.jpg" alt="" /><center>A 2023-as Eurovíziós dalfesztivál győztese, Loreen</center></a>
                <p>Nem akármiről maradt le az, aki szombat este nem követte a 2023-as Eurovíziós Dalfesztivál fináléját, nemcsak a buli volt hatalmas ugyanis a liverpooli M&S Bank Arénában, hanem történelmi pillanatoknak is szemtanúja lehetett volna; szerencsére azonban összefoglaló cikkünkből minden lényegeset megtudhat. A dalfesztiválnak idén az egyesült királyságbeli Liverpool adott otthont, annak ellenére, hogy 2022-ben Ukrajna és a Kalush Orchestra vihette haza a kristálymikrofont. Ez elsősorban annak köszönhető, hogy az orosz–ukrán konfliktus miatt szomszédjaink nem tudtak a győzelemmel járó rendezési joggal élni, így az Európai Műsorszolgáltatók Szövetsége, azaz az EBU a tavalyi második helyezett Egyesült Királyságot kérte fel a feladatra.</p>
                <p>A szokásokhoz híven az idei finálét is egy elképesztő zászlós felvonulás nyitotta meg, amelyen az előző évek ukrán versenyzői közül többen is feltűntek – például a 2016-os győztes Jamala, a 2021-es fesztivál nevezettjei, a Go_A, vagy éppen a legendás Verka Serduchka, aki anno 2007-ben robbant be a köztudatba Dancing Lasha tumbai című dalának köszönhetően. A finálét Alesha Dixon, Julija Szanyina, Hannah Waddingham valamint Graham Norton vezették, ez az elmúlt évek egyik legjobb műsorvezető-összeállítása volt, Waddingham és Norton párbeszédei jóformán egy stand-up esttel is felértek.</p>
                <p>A fináléban a két elődöntőből továbbjutott 10-10 ország, valamint a nagy ötös és a tavalyi győztes Ukrajna lépett fel, akiknek a produkcióit már egytől egyig láthattuk korábban. Mivel a verseny ezen szakaszában már nincs lehetőség az előadások megváltoztatására, ezért azok önmagukban már nem tudtak újat mutatni – ettől függetlenül azonban semmiképp sem lett unalmas a verseny, sőt annak köszönhetően, hogy mostanra csak a legjobbak maradtak bent, tulajdonképpen sokkal élvezhetőbb lett a műsor.</p>
                <p>A versenyt az osztrákok nyitották, akik elődöntős produkciójukhoz képest tudtak javítani a hangzásukon, így egy sokkal élvezhetőbb előadást tettek le az asztalra. Érdekesség, hogy ez szinte az összes szombati produkcióra igaz volt, így jogosan merülhet fel a kérdés, hogy az elődöntők során mégis mit csináltak a hangmérnökök? Azt ugyanis nem tartjuk valószínűnek, hogy 26 ország énekese három nap leforgása alatt tanult volna meg tisztán énekelni. Hogy pontosan mi történt, talán soha nem fog kiderülni, az azonban egyértelmű, hogy a változtatások a versenyzők javára váltak.</p>
                <p>A produkciók után számos előadással készültek a rendezők, amelyek közül a legmeghatóbb az a Liverpool Songbook nevezetű medley volt, amelyben ugyancsak korábbi eurovíziós versenyzők (Mahmood, Duncan Lawrence, Cornelia Jakobs stb.) gyűltek össze, hogy különböző dalok feldolgozásait énekeljék el. Az est folyamán mellettük feltűnt még Sam Ryder is, a 2022-es fesztivál második helyezettje, aki új, Mountain című dalát mutatta be a nagyérdeműnek.</p>
                <p>A közel egyórás szavazási periódus után következett a szakmai zsűri által kiosztott pontok bejelentése. A verseny során az országok zsűritagjai az általuk vélt legjobb tíz helyezettet díjazták 1–8, valamint 10 és 12 pontokkal – utóbbiból a svédeknek nem kevesebb mint 15-öt sikerült beszerezniük, így szó szerint letarolták a mezőnyt; a pontok kiosztása után 340 ponttal vették be az első helyet. A második helyre a zsűrik listáján Izrael került 177 ponttal, míg a harmadik helyet az olaszoknak sikerült elfoglalniuk 176 ponttal – a nézői pontok azonban mindent felforgattak.</p>
                <p>A svédeket sokáig egy ország sem tudta behozni, végül azonban a finnek a brutális mennyiségű szavazatnak köszönhetően azonnal az élre törtek. A skandináv ország 376 pontot kapott a közönségtől, így összesítve 526 pontot szereztek, mely a statisztikák alapján elég lett volna a győzelemhez; 2021-ben a Måneskin például 524, 2019-ben Duncan Lawrence pedig 498 ponttal zsebelhette be az első helyet, a svédek azonban közbeszóltak. Ugyan a közönségkedvenc nem a Tattoo lett, Loreen dala még így is 243 pontot kapott a nagyérdeműtől, ami elég volt ahhoz, hogy a zsűripontokkal együtt a svédek az élre törjenek, és hetedszerre is megnyerjék a versenyt.</p>
                <h3>Történelmet írt Loreen</h3>
                <p>Mindennek köszönhetően Loreen lett az első nő, aki kétszer is megnyerte az Eurovíziós Dalfesztivált – az első győzelmét 2012-ben aratta Euphoria című dalának köszönhetően. Rajta kívül mindez egyébként csak egyetlen embernek, Johnny Logannak sikerült, aki az 1980-as években nyert kétszer Írország színeiben, akkoriban a fesztivál azonban még egy sokkal kisebb szabású rendezvény volt.</p>
                <p>A győzelemnek köszönhetően a verseny jövő májusban Svédországba utazik, a következő hetekben pedig annak is ki kell derülnie, hogy pontosan melyik város ad majd otthon a 2024-es fesztiválnak. Arról, hogy Magyarország négy év kihagyás után jövőre esetleg visszatér-e, egyelőre semmit sem lehet tudni, kiindulva azonban az MTVA hozzáállásából, a legvalószínűbbnek azt tartjuk, hogy 2024-ben is kihagyjuk a versenyt.</p>
                
            </section>

    </div>
</div>

<!-- Footer -->
<%- include('partials/footer') %>