<!-- Header -->
      <%- include('partials/header') %>

      <!-- Banner -->
      <section id="banner">
        <div class="content">
          <header>
            <h2>Eurovíziós dalfesztivál beadandó</h2>
            <p>Jersey Roland - CXL20B - Juhász Erika - XHWWJM</p>
          </header>
          <span class="image"><img src="/images/logo.jpg" alt="" /></span>
        </div>
        <a href="#one" class="goto-next scrolly">Next</a>
      </section>

      <!-- 1. cikk -->
      <section id="cikk1" class="spotlight style1 bottom">
        <span class="image fit main"><img src="/images/eur02.jpg" alt="" /></span>
        <div class="content">
          <div class="container">
            <div class="row">
                <div class="col-4 col-12-medium">
                    <header>
                        <h2>Svájc győzött a 2024. évi Eurovíziós dalfesztiválon.</h2>
                    </header>
                </div>
                <div class="col-4 col-12-medium">
                    <p>25 előadó állhatott a 2024-es Eurovíziós Dalfesztivál döntőjének színpadán,
						miután a hollandokat kizárták a versenyből.</p>
                </div>
                <div class="col-4 col-12-medium">
                    <p>Az idei Eurovíziós Dalfesztiválnak a Svédországban található Malmö városa adott otthont
						 A megmérettetésen induló országok közül 25 állhatott ott a döntőben,
						melynek...</p>
						<ul class="actions">
							<li><a href="/cikk1" class="button">Olvass tovább...</a></li>
						  </ul>
                </div>
            </div>
          </div>
        </div>
        <a href="#cikk2" class="goto-next scrolly">Következő</a>
      </section>

      <!-- 2. cikk -->
				<section id="cikk2" class="spotlight style2 right">
					<span class="image fit main"><img src="images/euro23.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>A svéd Loreen nyerte a 2023-as Eurovíziós Dalfesztivált</h2>
							<p>Loreen történelmet írt az Eurovízióban azzal, hogy ő lett az első nő, aki kétszer is megnyerte az Európai Dalfesztivált.</p>
						</header>
						<ul class="actions">
							<li><a href="/cikk2" class="button">Olvass tovább...</a></li>
						</ul>
					</div>
					<a href="#cikk3" class="goto-next scrolly">Következő</a>
				</section>

			<!-- 3. cikk -->
				<section id="cikk3" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="images/papai.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>2019, az az utolsó magyar eurovíziós szereplés</h2>
						</header>
						<p>Pápai Joci képviselte Magyarországot a 2019. évi eurovíziós dalfesztiválon, melyet Izraelben rendeztek meg.</p>
						<ul class="actions">
							<li><a href="/cikk3" class="button">Olvass tovább...</a></li>
						</ul>
					</div>
				</section>


                <!-- Footer -->
				<%- include('partials/footer') %>